.section
    display: flex
    flex-direction: column
    gap: 5rem
    width: 100%
    // justify-content: space-between
    align-items: center

.header
    width: 400px
    display: flex
    flex-direction: column
    gap: 1rem
    align-items: center
    background: linear-gradient(90deg, #ffcccc, #ffffffaa)
    padding-top: 1rem
    font-weight: 600
    box-shadow: 0px 5px 20px 10px #0005

    &__pokeball
        width: 100px


.search-bar
    width: 600px
    padding: .5rem
    border: 3px solid #666
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    background-color: transparent
    border-right: none
    font-family: 'Varela Round', sans-serif
    font-size: 16px
    
.search-btn
    font-weight: 600
    font-family: 'Varela Round', sans-serif
    font-size: 16px
    padding: .5rem
    cursor: pointer
    border: 3px solid #666
    border-left: none
    background-color: transparent
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

.navbar
    width: 600px
    display: flex
    justify-content: space-around

    &__btn
        width: 100px
        padding: .3rem 0
        font-family: 'Varela Round', sans-serif
        font-size: 16px
        background-color: #0007
        color: #fff
        cursor: pointer
        border: none
        border-radius: 5px

.pokelist
    width: 600px
    display: flex
    flex-direction: column
    align-items: center
    gap: .5rem

.pokeitem
    text-transform: uppercase
    background-color: #fff8
    display: flex
    width: 100%
    padding: .5rem .5rem
    border: 2px solid #777
    border-radius: 10px
    justify-content: center

    
