$bg-color1: #ff8888
$bg-color2:#ffffff88
$primary-color: #0007
$secondary-color: #fff7
$tertiary-color: #777

/* Fonts */ 
$family1: 'Varela Round'
$family2: san-serif

    
.navbar
    width: 600px
    display: flex
    justify-content: space-around

    &__btn
        width: 100px
        padding: .3rem 0
        font-family: $family1, $family2
        font-size: 16px
        background-color: $primary-color
        color: $secondary-color
        cursor: pointer
        border: none
        border-radius: 5px