@import '/src/variables.sass'

.pokelist
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    gap: .5rem
    align-items: center

.pokeitem
    width: 100%
    text-transform: uppercase
    background-color: $secondary-color
    display: grid
    grid-template-columns: repeat(5, 1fr)
    border-radius: 4px
    align-items: center
    justify-items: center